---
layout: default
title: Curriculum Vitae | Tsubaki Hosokawa
lang_link_en: /cv.html
lang_link_ja: /cv_ja.html
permalink: /cv.html
css : /assets/css/cv.css
---
<link rel="stylesheet" href="{{ '/assets/css/cv.css' | relative_url }}">

<div class="title">
  <h1 style="margin-top: 5rem;">Curriculum Vitae</h1>
</div>

<section class="section">
  <p><strong>{{ site.data.profiles.info_en.name }}</strong><br>
  Ph.D. in Atmospheric Sciences, National Taiwan University<br>
  Email: {{ site.data.profiles.info_en.email }}<br>
  📄 <a href="https://drive.google.com/file/d/1T6GiXu-OLAyBPLtVutVjeOaEnKnI9orF/view?usp=drive_link" target="_blank">Download full PDF CV</a>
  </p>
</section>

{% for section in site.data.cv %}
  <section class="section" id="{{ section.id }}">
    <h2>{{ section.title }}</h2>
    {% if section.items %}
      {% if section.id == 'publication' %}
        <ol>
          {% for pub in site.data.publications %}
            <li>{{ pub | replace: 'Hosokawa, T.', '<strong>Hosokawa, T.</strong>' }}</li>
          {% endfor %}
        </ol>
      {% elsif section.ordered %}
        <ol>
          {% for item in section.items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ol>
      {% else %}
        <ul>
          {% for item in section.items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </section>
{% endfor %}


<p><a href="{{ '/' | relative_url }}">← Back to Home</a></p>
