---
layout: default
title: 履歴書 | 細川 椿
lang: ja
lang_link_en: /cv.html
lang_link_ja: /cv_ja.html
permalink: /cv_ja.html
css : /assets/css/cv.css
---
<link rel="stylesheet" href="{{ '/assets/css/cv.css' | relative_url }}">

<div class="title">
  <h1 style="margin-top: 5rem;">履歴書</h1>
</div>

<section class="section">
  <p><strong>細川 椿</strong><br>
  博士（大気科学）、国立台湾大学<br>
  メール: d10229006❄ntu.edu.tw<br>
  📄 <a href="https://drive.google.com/file/d/1T6GiXu-OLAyBPLtVutVjeOaEnKnI9orF/view?usp=drive_link" target="_blank">
    PDF版（英語）をダウンロード</a>
  </p>
</section>

{% for section in site.data.cv_ja %}
  <section class="section" id="{{ section.id }}">
    <h2>{{ section.title }}</h2>
    {% if section.items %}
      {% if section.id == 'publication' %}
        <ul>
          {% for pub in site.data.publications %}
            <li>{{ pub | replace: 'Hosokawa, T.', '<strong>Hosokawa, T.</strong>' }}</li>
          {% endfor %}
        </ul>
      {% elsif section.ordered %}
        <ol>
          {% for item in section.items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ol>
      {% else %}
        <ul>
          {% for item in section.items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </section>
{% endfor %}


<p><a href="{{ '/index_ja.html' | relative_url }}">← ホームへ戻る</a></p>
