---
layout: default
title: "細川 椿 | Tsubaki Hosokawa"
lang: ja
lang_link_en: /index.html
lang_link_ja: /index_ja.html
permalink: /index_ja.html
css: /assets/css/style.css
---

<link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">

<header class="section-transparent fade-up" style="display: flex; align-items: center; gap: 5rem; flex-wrap: wrap; margin-top: 3rem;">
  <div class="top">
    <h1>
      細川 椿
      <img src="{{ '/assets/images/favicon.ico' | relative_url }}" alt="icon" style="height: 2rem; margin-left: 0.5rem; margin-right: 0.5rem; margin-bottom: -0.2rem; filter: drop-shadow(-2px 2px 0px rgba(0,0,0,0.7));"/>
      Home Page
    </h1>
    <div class="intro-text">
      <p>国立台湾大学理学院</p><br>
      <p>大気科学系・博士課程</p><br>
      <p>Email: d10229006❄ntu.edu.tw</p>
    </div>
  </div>

  <div class="profile-photo">
    <img src="{{ '/assets/images/profile2.png' | relative_url }}" alt="プロフィール写真" style="height: 300px; border-radius: 50%; flex-shrink: 0;">
  </div>
</header>

<section class="section">
  <h2>自己紹介</h2>
  <p>
    沖縄で生まれ育ち、長年台風を身近に経験してきたことで、その現象に強い関心を抱くようになりました。現在は
    <a href="https://www.as.ntu.edu.tw/index.php/eng" target="_blank">国立台湾大学大気科学系</a>に所属し、Cheng-Ku Yu教授が主宰する
    <a href="http://mopl.as.ntu.edu.tw/web/CN_Home.htm" target="_blank">Mesoscale and Orographic Precipitation Laboratory</a>で台風による大雨や地形性降水の観測研究を行っています。
    偏波ドップラーレーダー観測を用いて雨粒（降水粒子）の特性を調査し、山岳地域での豪雨の仕組みを探究しています。
  </p>
</section>

<section class="section">
  <h2>学歴</h2>
  <ul>
    <li>博士（大気科学） 国立台湾大学（2021年9月～）</li>
    <li>修士（理学） 琉球大学（2018～2021）</li>
    <li>学士（理学） 琉球大学（2014～2018）</li>
  </ul>
</section>

{% assign sections_pub = site.data.cv_ja | where: "id", "publication" %}
{% assign sections_award = site.data.cv_ja | where: "id", "awards" %}
{% assign sections_conf = site.data.cv_ja | where: "id", "conference" %}
{% assign target_sections = sections_pub | concat: sections_award | concat: sections_conf %}

{% for section in target_sections %}
  <section class="section">
    <h2>
      {% if section.id == 'publication' %}
        最新の{{ section.title }}
      {% elsif section.id == 'awards' %}
        主な{{ section.title }}
      {% elsif section.id == 'conference' %}
        最近の{{ section.title }}
      {% endif %}
    </h2>
    <a href="cv_ja.html#{{section.id}}" style="text-decoration: none;">[詳細<sup>&#x29C9;</sup>]</a>

    {% if section.items %}
      {% if section.id == 'publication' %}
        <ul>
          {% for pub in section.items limit:2 %}
            <li>{{ pub | replace: 'Hosokawa, T.', '<strong>Hosokawa, T.</strong>' }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <ul>
          {% for item in section.items limit:2 %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </section>
{% endfor %}

<section class="section">
  <h2>趣味・特技</h2>
  <div class="hobbies-container">
    <ul class="hobbies-list">
      <li>楽器演奏（小中高：吹奏楽部、大学：モダンジャズオーケストラMOJO）</li>
      <ul>
        <li>トランペット（小）</li>
        <li>ユーフォニウム（中・高）</li>
        <li>トロンボーン（中・高・大）</li>
        <li>ギター（たまに弾く）</li>
      </ul>
      <li>音楽鑑賞（ジャズ、R&B、洋楽）</li>
      <li>猫とゆったり過ごすこと</li>
      <li>旅行</li>
      <li>語学学習（英語、中国語、韓国語）</li>
      <li>書道（茅原書藝會）</li>
    </ul>
    <div class="hobbies-photo">
      <img src="{{ '/assets/images/cat.png' | relative_url }}" alt="猫画像" style="height: 300px;">
    </div>
  </div>
</section>
