---
layout: default
title: "Tsubaki Hosokawa | 細川椿"
lang: en
lang_link_en: /index.html
lang_link_ja: /index_ja.html
permalink: /index.html
css: /assets/css/style.css
---

<link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">

<section class="section-transparent fade-up" style="display: flex; align-items: center; gap: 2rem; flex-wrap: wrap; margin-top: 3rem;">
  <div class="top">
    <h1>Hi, I'm Tsubaki Hosokawa.</h1>
    <div class="intro-text">
      <p>Ph.D. Candidate in Atmospheric Sciences</p><br>
      <p>National Taiwan University</p><br>
      <p>Email: d10229006❄ntu.edu.tw</p>
    </div>
  </div>

  <div class="profile-photo">
    <img src="{{ '/assets/images/profile2.png' | relative_url }}" alt="Profile Photo" style="height: 300px; border-radius: 50%; flex-shrink: 0;">
  </div>
</section>

<section class="section">
  <h2>About Me</h2>
  <p>
    I am a Ph.D. candidate at 
    <a href="https://www.as.ntu.edu.tw/index.php/eng" target="_blank">National Taiwan University</a>, working with Prof. Cheng-Ku Yu in the
    <a href="http://mopl.as.ntu.edu.tw/web/CN_Home.htm" target="_blank">Mesoscale and Orographic Precipitation Laboratory</a>.
  </p>
  <p>
  My research examines orographic precipitation and extreme rainfall from tropical cyclones in Taiwan using polarimetric Doppler radar, rain gauges, and disdrometers.  </p>
  <p>
  Growing up in Okinawa, Japan, where typhoons are a familiar part of life, inspired me to study tropical cyclone rainfall and its underlying processes.  </p>
</section>

<section class="section">
  <h2>Education</h2>
  <ul>
    <li><strong>Ph.D. in Atmospheric Science</strong>, National Taiwan University (Sep 2021 – present)</li>
    <li><strong>M.S. in Science</strong>, University of the Ryukyus (Apr 2018 – Mar 2021)</li>
    <li><strong>B.S. in Science</strong>, University of the Ryukyus (Apr 2014 – Mar 2018)</li>
  </ul>
</section>

{% assign sections_pub = site.data.cv | where: "id", "publication" %}
{% assign sections_award = site.data.cv | where: "id", "awards" %}
{% assign sections_conf = site.data.cv | where: "id", "conference" %}
{% assign target_sections = sections_pub | concat: sections_award | concat: sections_conf %}

{% for section in target_sections %}
  <section class="section">
    <h2>Recent {{ section.title }}</h2>
    <a href="cv.html#{{section.id}}" style="text-decoration: none;">[more<sup>&#x29C9;</sup>]</a>
    {% if section.items %}
      {% if section.id == 'publication' %}
        <ul>
          {% for pub in section.items limit:2 %}
            <li>{{ pub | replace: 'Hosokawa, T.', '<strong>Hosokawa, T.</strong>' }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <ul>
          {% for item in section.items limit:2 %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </section>
{% endfor %}

<section class="section">
  <h2>Hobbies</h2>
  <div class="hobbies-container">
    <ul class="hobbies-list">
      <details>
        <summary>Playing the instruments, <em>in Brass band and Big band</em></summary>
        <ul>
          <li>Trumpet (Elementary School)</li>
          <li>Euphonium (Middle and High School)</li>
          <li>Trombone (Middle, High School, and University)</li>
          <li>Guitar (xOccasionally)</li>
        </ul>
      </details>
      <details>
        <summary>Relaxing with cats</summary>
          <div class="hobbies-photo">
          <img src="{{ '/assets/images/cat.png' | relative_url }}" alt="猫画像" style="height: 100px; width: auto;">
        </div>
      </details>
      <details>
        <summary>Traveling with friends</summary>
        <ul>
          <li>Japan: Okinawa, Hokkaido, Tokyo, Kyoto, Osaka, Hiroshima, Fukuoka, etc.</li>
          <li>Overseas: Taiwan, South Korea, Thailand, Malaysia, Singapore, Hawaii</li>
        </ul>
      </details>
      <details>
        <summary>Studying foreign languages: <em>English, Chinese, and Korean</em></summary>
        <ul>
          <li>English: TOEFL 89</li>
          <li>Chinese: TOCFL B1</li>
          <li>Korean: Beginner</li>
        </ul>
      </details>
      <details>
        <summary>Practicing calligraphy (<em>Shodo</em>)</summary>
        <ul>
          <li>Member of Chihara Shogeikai (茅原書藝會)</li>
        </ul>
      </details>
    </ul>
  </div>
</section>
