<meta charset="UTF-8">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SGBM1LF08E"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-SGBM1LF08E');
</script>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Tsubaki Hosokawa's website. Research in orographic precipitation, tropical cyclones, and polarimetric radar." />
<meta name="keywords" content="Tsubaki Hosokawa, Atmospheric Science, Orographic Precipitation, Tropical Cyclones, Polarimetric Radar">
<meta name="robots" content="index, follow" />
<title>{{ page.title }}</title>
<link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap">
