.bg-overlay {
background-image: url("{{ '/assets/images/radar_fig1.png' | relative_url }}"); /* 画像のパスを指定 */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
opacity: 0.1;  /* 背景の薄さ調整 */
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: -1; /* 背面に配置 */
pointer-events: none;
}