.scroll-box {
  border: 1px solid #ccc;
  background-color: rgba(250, 249, 247, 0.879);
  padding: 1rem;
  height: 300px;
  overflow-y: auto;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
.news-item {
  margin-bottom: 1rem;
}

.news-date {
  font-weight: bold;
  color: #3e543c;
  margin-top: 0.1rem;
  font-size: 1.1rem;
}

/* News section */
.news-yyyy-mm-dd {
  padding: 0.1rem 0.1rem;
  font-size: 0.9rem;
  color: #555;
}

.news-text {
  padding: 0 0.5rem;
  display: inline;
  font-size: 1rem;
}